# backend/requirements.txt
fastapi==0.110.0
uvicorn==0.29.0
scrapy==2.11.0
scrapy-selenium==0.0.7
selenium==4.18.1
xgboost==2.0.3
pandas==2.2.1
geopandas==0.14.3
sqlalchemy==2.0.28
alembic==1.13.1
python-dotenv==1.0.1
presidio-analyzer==2.2.34
fastapi-limiter==0.1.5
